@model List<Book>;

<div class="card-columns">
    @foreach (var book in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @book.Author</h6>
                <p class="card-text">
                    Category : @book.Genre <br>
                    Sub Category : @book.SubGenre <br>
                    Page : @book.Page <br>
                    Publisher : @book.Publisher 
                </p>
                <a class="card-link" asp-area="" asp-controller="Books" asp-action="Detail" asp-route-id="@book.Id">Detail</a>
            </div>
        </div>
    }
</div>

